
/* toolbar */

.now-button {
    width: 100px;
    min-width: 70px;
}

.date-display {
    width: 100px;
    min-width: 70px;
}

.navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
}

/*
.nav .nav-divider {
    height: 15px;
    width: 1px;
}
*/

.signup-button {
    margin-top: 100px;
}

.add-button {
    margin-top: 95px;
}

.add-button-plus {
    margin-top: -5px;
    margin-left: 5px;
}

.glyphicon-huge {
    font-size: 4em;
}

.main-view {
    text-align: center;
}