
/* toolbar */

.now-button {
    width: 100px;
    min-width: 70px;
}

.date-display {
    width: 100px;
    min-width: 70px;
}

.navbar .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
}

/*
.nav .nav-divider {
    height: 15px;
    width: 1px;
}
*/