<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <add name="myConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=webtimerdev1;AccountKey=KIIE0+0jnfn8DK6iweAektqbpnVoJcP+R8vqpIK9pbMkFJ1BucgadA1mdWfsk7uMxDGMkjHXeLIrESW10s+7jw=="/>
    </connectionStrings>
  
</configuration>
