<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="WebTimer Capture Service" Language="1033" Version="1.0.0.0" Manufacturer="WebTimer" UpgradeCode="48dc066c-97cc-4512-8fa3-52bbe195e075">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of WebTimer Capture Service is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WebTimer Capture Service" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WebTimer Capture Service" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">			
			<Component Id="ProductComponent">
				<!--<File Id="Insert dll name" Name="Insert dll name again" Source="Insert path to dll" Vital="yes" KeyPath="no" DiskId="1"/>-->
				<File Id="CaptureService" Name="CaptureService" Source="$(var.CaptureService.TargetPath)" Vital="yes" KeyPath="yes" DiskId="1"/>
				<ServiceInstall
					Id="ServiceInstaller"
					Type="ownProcess"
					Vital="yes"
					Name="WebTimerCaptureService"
					DisplayName="WebTimer Capture Service"
					Description="The WebTimer Capture Service collects and uploads web events to the WebTimer cloud service."
					Start="auto"
					Account="LocalSystem"
					ErrorControl="ignore"
					Interactive="no"
              >
				</ServiceInstall>
				<ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="WebTimerCaptureService" Wait="yes" />
			</Component>

      <Component>
        <File Id="Collector.Output"
              Name="$(var.Collector.TargetFileName)"
              Source="$(var.Collector.TargetPath)"
              KeyPath="yes" />
      </Component>

      <Component>
        <File Id="Collector.SharpPcapDependency"
              Name="SharpPcap.dll"
              Source="$(var.Collector.TargetDir)\SharpPcap.dll"
              KeyPath="yes" />
      </Component>

      <Component>
        <File Id="Collector.PacketDotNetDependency"
              Name="PacketDotNet.dll"
              Source="$(var.Collector.TargetDir)\PacketDotNet.dll"
              KeyPath="yes" />
      </Component>

      <!--<Component Id="Collector" Guid="*">
        <File Id="$(var.Collector.TargetName)" Name="$(var.Collector.TargetFileName)" Source="$(var.Collector.TargetDir)" />
      </Component>-->

    </ComponentGroup>
	</Fragment>
</Wix>