<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf" providerName="System.Data.SqlClient" />
    <add name="LocalConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf" providerName="System.Data.SqlClient" />
    <add name="SqlAzureConnection" connectionString="Server=tcp:x7djs35g72.database.windows.net,1433;Database=webtimerdev1;User ID=builtsteady@x7djs35g72;Password=zrc022..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://MongoLab-km:bcG3jbXUK8Uiv0NcEqlmfxsVyAsNsKl.KqHSQvFVabo-@ds041177.mongolab.com:41177/MongoLab-km" />
  </connectionStrings>
</configuration>