@using WebRole.Helpers;
@{
    var isMobile = BrowserAgent.IsMobile(Request.UserAgent);
    var isDashboard = User.Identity.IsAuthenticated &&
                        (Request.Url.AbsolutePath.Equals("/") ||
                         Request.Url.AbsolutePath.ToLower().Equals("/home/index"));
}

    <nav class="navbar navbar-inverse navbar-fixed-top">
    @if (isMobile)
    {
        // render the brand on the navbar
        <div>
            <a id="brandButton" class="navbar-brand brand-padding" href="/"><img src="~/Content/images/WebTimer.png" height="46" alt="WebTimer" /></a>
        </div>             
            
        // if not authenticated, render a "hamburger" menu instead of the footer
        if (!User.Identity.IsAuthenticated) {
            @Html.Partial("_MobileMenu");
        }

        <!-- mobile header bar -->
        if (isDashboard) {
            @Html.Include("~/app/dashboard/views/header.mobile.view.html")
        }
    }
    else
    {
        <div class="navbar-inner">
            <div class="navbar-header">
                <a id="brandButton" class="navbar-brand brand-padding" href="/"><img src="~/Content/images/WebTimer.png" height="46" alt="WebTimer" /></a>
            </div>             

            <!-- login menu -->
            @Html.Partial("_LoginMenu")
            
            <!-- header bar -->
            @if (isDashboard) {
                @Html.Include("~/app/dashboard/views/header.view.html")
            }
        </div>
    }               
    </nav> 

<script type="text/javascript">
    // header document ready handler
    $(function () {
        $("#brandButton").click(function () {
            Events.Track(Events.Categories.Header, Events.Header.HomeButton);
        });
    });
</script>
