@using WebRole.Helpers;
@{
    var name = ViewBag.UserName ?? @User.Identity.Name;
    if (name.Contains(" "))
        name = name.Split(' ')[0];
}

<ul class="nav navbar-nav navbar-right">
    <li class="hidden-xs"><a id="downloadButton" href="/home/download"><span class="glyphicon glyphicon-save"></span><strong>&nbsp; Download</strong></a></li>
@if (Request.IsAuthenticated) {
    <li class="nav-divider"></li>
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i><strong>&nbsp; @name</strong>&nbsp;<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a id="dashboardButton" href="/"><span class="glyphicon glyphicon-stats"></span>&nbsp; Dashboard</a></li>
            <li><a id="settingsButton" href="/Account/Manage"><span class="glyphicon glyphicon-cog"></span>&nbsp; Settings</a></li>
            <li class="divider"></li>
            <li><a id="signoutButton" href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span>&nbsp; Sign Out</a></li>
        </ul>
    </li>
}
</ul>
<script type="text/javascript">
    // loginmenu document ready handler
    $(function () {
        $("#downloadButton").click(function () {
            Events.Track(Events.Categories.Header, Events.Header.DownloadButton);
        });
        $("#dashboardButton").click(function () {
            Events.Track(Events.Categories.LoginMenu, Events.LoginMenu.DashboardButton);
        });
        $("#settingsButton").click(function () {
            Events.Track(Events.Categories.LoginMenu, Events.LoginMenu.SettingsButton);
        });
        $("#signoutButton").click(function () {
            Events.Track(Events.Categories.LoginMenu, Events.LoginMenu.SignoutButton);
        });
    });
</script>
