@using WebTimer.WebRole.Helpers;
    <button class="navbar-toggle mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="nav-collapse collapse">
        <br />
        <br />
        <ul class="nav navbar-nav pull-right">
            <li><a href="/home/about"><span class="glyphicon glyphicon-question-sign"></span><strong>&nbsp; About</strong></a></li>
            <li><a href="/home/contact"><span class="glyphicon glyphicon-earphone"></span><strong>&nbsp; Contact</strong></a></li>
            <li><a href="/home/terms"><span class="glyphicon glyphicon-book"></span><strong>&nbsp; Terms</strong></a></li>
        </ul>
    </div>
