@model WebRole.Models.LocalPasswordModel

<h3>Set password</h3>
<div class="explanation">You need to create a local password to use with the client software.</div>

@using (Html.BeginForm("ManagePassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                <p />
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New password" })
            </li>
            <li>
                <p />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm new password"})
            </li>
        </ol>
        <input type="submit" class="btn btn-primary" value="Set password" />
        @Html.ValidationSummary()
    </fieldset>
}
