@{
    ViewBag.Title = "Login Failure";
}

<h1>@ViewBag.Title &nbsp;<span class="icon icon-frown" /></h1>
<p>Unfortunately we couldn't log you in successfully using your social login.</p>
<p>Please try again, or sign up with your own email and password.</p>
<br />
<a class="btn btn-success" href="/">Sign Up</a>
