<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <MSDeployServiceURL>https://webtimerdev1.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>WebRole_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>Omri</UserName>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebRole.Models.UsersContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebRole.Models.UsersContext, WebRole" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WebRole.Models.TodoItemContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebRole.Models.TodoItemContext, WebRole" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ServiceHost.UserContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ServiceHost.UserContext, ServiceHost" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MongoServerSettings" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="mongodb://MongoLab-km:bcG3jbXUK8Uiv0NcEqlmfxsVyAsNsKl.KqHSQvFVabo-@ds041177.mongolab.com:41177/MongoLab-km" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MongoServerSettings_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="mongodb://MongoLab-km:bcG3jbXUK8Uiv0NcEqlmfxsVyAsNsKl.KqHSQvFVabo-@ds041177.mongolab.com:41177/MongoLab-km" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlAzureConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:x7djs35g72.database.windows.net,1433;Initial Catalog=webtimerdev1;Integrated Security=False;User ID=builtsteady@x7djs35g72;Password=zrc022..;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlAzureConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:x7djs35g72.database.windows.net,1433;Database=webtimerdev1;User ID=builtsteady@x7djs35g72;Password=zrc022..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LocalConnection" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LocalConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LocalConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MongoServerSettings-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ServiceHost.UserContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlAzureConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:x7djs35g72.database.windows.net,1433;Initial Catalog=webtimerdev1;Integrated Security=False;User ID=builtsteady@x7djs35g72;Password=zrc022..;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebRole.Models.TodoItemContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebRole.Models.UserContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebRole.Models.UsersContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ServiceHost.UserContext" />
    <_ConnectionStringsToInsert Include="WebRole.Models.TodoItemContext" />
    <_ConnectionStringsToInsert Include="WebRole.Models.UserContext" />
    <_ConnectionStringsToInsert Include="WebRole.Models.UsersContext" />
  </ItemGroup>
</Project>