<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="LocalUserData" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebRole-20130912201900;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebRole-20130912201900.mdf" providerName="System.Data.SqlClient" />
    <add name="LocalUserProfile" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebRole-20130906115829;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-WebRole-20130906115829.mdf" providerName="System.Data.SqlClient" />
    <add name="SqlAzureUserData" connectionString="Server=tcp:x7djs35g72.database.windows.net,1433;Database=UserData;User ID=builtsteady@x7djs35g72;Password=zrc022..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
    <add name="SqlAzureUserProfile" connectionString="Server=tcp:x7djs35g72.database.windows.net,1433;Database=UserProfile;User ID=builtsteady@x7djs35g72;Password=zrc022..;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>