<?xml version="1.0"?>
<configuration>
  <startup> 
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <appSettings>
    <!--<add key="Url" value="http://localhost:3212"/>-->
    <add key="Url" value="http://localhost:1320"/>
    <!--<add key="Url" value="http://127.0.0.1/"/>-->    
    <!--<add key="Url" value="http://webtimerdev1.cloudapp.net"/>-->
  </appSettings>
</configuration>
