<?xml version="1.0"?>
<configuration>

    <connectionStrings>
      <add name="myConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=webtimer;AccountKey=Jo0GFvCB1pkI4EanJjOarDjzNYCzgRZHR9oXUbtjMQ7IKU9qrIXY2cQNg9OO8UXDzP55uNz81hUAsbkRrNQMaA=="/>
    </connectionStrings>
  
</configuration>
