<!-- Header partial view -->
<div data-ng-controller="HeaderController">
    <ul class="nav navbar-nav">
        <li data-ng-class="{ active: isActive('/')}"><a data-ng-click="dashboard()" href="#/"><span class="glyphicon glyphicon-stats"></span><strong>&nbsp; Dashboard</strong></a></li>
        <li data-ng-class="{ active: isActive('/people')}"><a data-ng-click="people()" href="#/people"><span class="glyphicon glyphicon-user"></span><strong>&nbsp; People</strong></a></li>
        <li data-ng-class="{ active: isActive('/devices')}"><a data-ng-click="devices()" href="#/devices"><span class="icon icon-desktop"></span><strong>&nbsp; Devices</strong></a></li>
    </ul>
</div>