<?xml version="1.0"?>
<configuration>
  <startup> 
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
  <appSettings>
    <add key="DownloadUrl" value="https://webtimerdev1.blob.core.windows.net/download/WebTimer.msi"/>
    <add key="VersionUrl" value="https://webtimerdev1.blob.core.windows.net/download/version.txt"/>
  </appSettings>
</configuration>
