@{
    ViewBag.Title = "Admin Dashboard";
}

<div id="main-content" class="jumbotron container main-container">
    <div class="list-group col-lg-4 col-md-4 col-sm-6">
        <a href="#support" class="list-group-item active">Support</a>
    </div>

    <div class="tab-content col-lg-8 col-md-8 col-sm-6 manage">
        <div class="tab-pane active" id="support">
            <section class="todoList">
                @Html.Action("Impersonate")
            </section>
        </div>
        <br />
        <p class="message-success">@ViewBag.StatusMessage</p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.list-group a').click(function (e) {
            $(this).tab('show');
            $('.list-group a').removeClass('active');
            $(this).addClass('active');
            $('.message-success').text('');
        });
    });
</script>