@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <div class="container">
        <h1>WebTimer</h1>
        <br />
        <section>
            <p>WebTimer was created to help parents get a better idea of how their kids are spending time online.</p>
        </section>
        <br />
        <section>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </section>
    </div>
</div>
