@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <div class="container">
        <img class="webtimer-jumbotron" src="~/Content/images/WebTimer_logo.png" alt="WebTimer" />
        <br />
        <section>
            <p><strong>Address</strong></p>
            <address>
                8201 164th Ave NE<br />
                Redmond, WA 98052<br />
                <i class="icon-phone"></i>&nbsp;
                425.765.0079
            </address>
        </section>
        <section>
            <address>
                <i class="icon-envelope"></i><strong> Support:</strong> <a href="mailto:support@webtimer.co">support@webtimer.co</a><br />
                <i class="icon-envelope"></i><strong> General:</strong> <a href="mailto:info@webtimer.co">info@webtimer.co</a>
            </address>
        </section>
    </div>
</div>
