@{
    ViewBag.Title = "Download";
}
<div class="jumbotron">
    <div class="container">
        <h1>Download</h1>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-3 center">
                <h2>Windows</h2>
                <h4>XP, Vista, 7, 8</h4>
                <a href="https://webtimerdev1.blob.core.windows.net/download/WebTimerSetup.exe"><img class="download-logo" alt="windows" width="100" src="~/Content/images/windows.png" /></a>
            </div>
            <div class="col-lg-3 col-md-3 center">
                <h2>Mac OS X</h2>
                <h4>coming soon</h4>
                <img class="download-logo" alt="mac" src="~/Content/images/mac.png" />
            </div>
            <div class="col-lg-3 col-md-3 center">
                <h2>iOS</h2>
                <h4>coming soon</h4>
                <img class="download-logo" alt="iOS" src="~/Content/images/apple-logo.png" />
            </div>
            <div class="col-lg-3 col-md-3 center">
                <h2>Android</h2>
                <h4>coming soon</h4>
                <img class="download-logo" alt="android" src="~/Content/images/android.png" />
            </div>
        </div>
    </div>
</div>
